* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', Arial, sans-serif;
    background: #ffffff;
    line-height: 1.6;
    color: #333;
}

/* ----- Khung Vien --------- */
.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 70px 90px;
    border-style: solid;
    border-width: 1px 3px 4px 3px;
    border-color: #9ad9ff;
}

/* -------- Header ---------- */
header h1 {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 60px;
}

/* ------ Main -------- */
.main {
    display: flex;
    gap: 60px;
    align-items: flex-start;
}

/* ----- Left-Main ------------ */

.left-main {
    width: 35%;
    background: #fff;
    padding: 35px 30px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.left-main h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.left-main p {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

.left-main p:nth-child(3) {
    font-weight: 600;
    color: #333;
}

.left-main p:last-child {
    color: #3a7bd5;
    font-size: 13px;
}

/* ----- Right-Main ------------ */
.right-main {
    width: 65%;
}

.right-main p {
    font-size: 15px;
    color: #555;
    margin-bottom: 20px;
}

.right-main p:nth-child(2) {
    font-weight: 600;
    color: #333;
}